<MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="1" Variant="@DrawerVariant.Mini"
    OverlayAutoClose="true">
    <MudNavMenu>
        @foreach (var item in _drawerItems)
        {
            <div>
                <MudTooltip Text="@(_drawerOpen ? string.Empty : item.Text)" Placement="Placement.Right"
                    RootClass="drawer-item-tooltip">
                    <MudNavLink Href="@item.Url" Icon="@item.Icon" Match="NavLinkMatch.All">
                        @item.Text
                    </MudNavLink>
                </MudTooltip>   
            </div>
        }
    </MudNavMenu>
</MudDrawer>